<div class="main-nav">
	<ul class="main-nav__ul" data-active-menu>
		<li class="main-nav__li">
			<a href="<%= templateData.site.core.siteUrl %>/projects/" class="main-nav__a">
				Projects <span class="main-nav__link-count"><%= templateData.site.projectCount %></span>
			</a>
		</li>
		<li class="main-nav__li">
			<a href="<%= templateData.site.core.siteUrl %>/about/" class="main-nav__a">About</a>
		</li>
		<li class="main-nav__li">
			<a href="<%= templateData.site.core.siteUrl %>/contact/" class="main-nav__a">Contact</a>
		</li>
	</ul>
</div>
