<footer class="footer">

	<nav class="footer__menu">
		<%- include( '../partials/nav-main' ) %>
	</nav>

	<div class="footer__disclosure">
		<p>All work is copyright of its respective owner.</p>
	</div>

</footer>
