///
/// Section - home page hero element.
///

.hero-intro {

	position: relative;
	overflow: hidden;
	background-color: white;

	[data-theme='dark'] & { background-color: black }
}

.hero-intro,
.hero-intro__wrapper {
	height: 100vh;

	@include media-query( $start: desktop ) {
		height: calc( 100vh - #{ $utility-bar-height } );
	}
}

.intro-grid {
	position: absolute;
	top: 0;
}

.hero-intro__wrapper {
	@extend %site-frame-wrapper;

	@include media-query( $start: desktop ) {
		//padding-top: $header-height-desktop + 35;
	}
}

.hero-intro__line {
	margin-bottom: .7rem;
	display: block;

	&:last-child {
		margin-bottom: 0;
	}
}

.hero-intro__no-break {
	white-space: nowrap;
}

.hero-intro__title {
	position: relative;
	font-family: $typography__font-base;
	font-size: modular-rem-scale( 1.05 );
	font-weight: 300;
	line-height: 1.5;
	color: #333;
	text-align: center;

	[data-theme='dark'] & { color: white }

	[data-theme='dark'] &:before {
		content: '';
		display: block;
		position: absolute;
		top: -100px;
		right: -100px;
		bottom: -100px;
		left: -100px;
		opacity: .35;
		z-index: 1;
		background: black;
		border-radius: 50%;
		filter: blur( 25px );
	}

	[data-theme='dark'] &:after {
		content: '';
		position: absolute;
		bottom: -2.5rem;
		left: 20%;
		width: 60%;
		height: 7px;
		opacity: .65;
		background: linear-gradient(
			90deg,
			$color__secondary 0%,
			$color__secondary 43%,
			$color__primary 57%,
			$color__primary 100%
		);
		border-radius: 9px;
	}

	@include media-query( $start: tablet ) { font-size: modular-rem-scale( 1.5 ) }
	@include media-query( $start: desktop ) {
		font-size: modular-rem-scale( 2.25 );
		line-height: 1.35;
		text-align: left;

		[data-theme='dark'] &:after {
			left: -7%;
			width: 70%;
		}
	}

	.hero-intro__first-word {
		color: #444;
		font-size: 1.2em;
		font-weight: 400;

		[data-theme='dark'] & { color: white }
	}

	.hero-intro__name {
		font-size: 1.9em;
		font-weight: 400;
	}

	.hero-intro__industry {
		color: var( --color__secondary-text );
		font-size: 1.35em;
		font-weight: 400;
	}

	.hero-intro__link {
		color: #333;
		font-size: 1.15em;
		font-weight: 400;

		[data-theme='dark'] & { color: white }
	}

	/*
	@extend %typography-heading-2;
	margin: 0 0 2rem;
	color: $color__white-f;
	font-weight: 700;
	line-height: 1.28;

	@include media-query( $start: desktop ) {
		@include typography-heading-1;
		margin-bottom: 30px;
		color: $color__white-f;
		font-weight: 700;
		line-height: 1.28;
	}

	.hero-intro__title-first-sentence { color: var( --color__tertiary ) }
	*/
}

.hero-intro__cta {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	text-align: center;
}

.hero-intro__cta-a {
	@extend %btn--outline-secondary-large;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	color: $color__white-d;
	border-color: $color__white-d;

	&:hover {
		background-color: $color-dark-bg__secondary;
		border-color: $color-dark-bg__secondary;
	}
}

.hero-intro__copy-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .9;
	z-index: 1;

	@include media-query( $start: 650px ) {
		width: 90%;
		left: 5%;
	}

	@include media-query( $start: 1200px ) {
		width: 80%;
		left: 10%;
	}

	@include media-query( $start: 1300px ) {
		width: 75%;
		left: 12.5%;
	}

	@include media-query( $start: 1450px ) {
		width: 65%;
		left: 17.5%;
	}

	[data-theme='dark'] & { display: none }
}

.hero-intro__copy-bg-img,
.hero-intro__copy-bg-img-desktop {
	display: inline-block;
	width: 100%;
	height: auto;
}
.hero-intro__copy-bg-img-desktop { display: none }

@include media-query( $start: 800px ) {
	.hero-intro__copy-bg-img { display: none }
	.hero-intro__copy-bg-img-desktop { display: block }
}

.hero-intro__copy {
	margin: 0 auto;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	z-index: 3;
	color: $color__white-f;

	@include media-query( $start: tablet ) { width: 80% }
	@include media-query( $start: desktop ) { width: 65% }
}
